@tabbar-text-active-color: #D81E06;
@header-background-color: #F09805;
@header-text-color: #ffffff;
@header-arrow-color: #ffffff;

@button-tab-default-border-color:#ffe26d;
@button-tab-border-color:#F09805;
@button-tab-active-border-color:#F09805;
@button-tab-active-background-color:#F09805;